h1 {
  font-size: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: #333333;
}

.container {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 10px red;
  padding: 10px;
}

.job-item > div > p {
  font-size: 18px;
}

.job-item > div {
  font-size: 30px;
}
